* {
    font-family: 'Roboto', sans-serif;
    font-size: large;
}

.navbar {
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: 700;
}

.nav-link {
    color: #007bff;
    padding: 15px 20px;
}

.nav-link:hover {
    color: #0056b3;
    background-color: rgba(0, 123, 255, 0.1);
}

.nav-item {
    margin: 0 5px;
}