* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /* font-size: 0.7vw; */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.boxcenter {
    /* width: 60%; */
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
}

.row {
    float: left;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.row.frmcontent {
    width: 100%; 
}

.mb {
    margin-bottom: 20px;
}

.mb10 {
    margin-bottom: 10px;
}

.row.mb10 {
    margin-bottom: 10px;
}

.mr {
    margin-right: 20px;
}

.demo {
    background-color: antiquewhite;
    min-height: 100px;
}

.header {
    /* background-color: aquamarine;
    border: 1px solid #060;
    color: blue;
    border-radius: 5px;
    height: 50px; */
}

.header h1 {
    margin-left: 7px;
}

.footer {
    background-color: aquamarine;
    border: 1px solid #060;
    font-size: 0.8vw;
    color: blue;
    border-radius: 5px;
    padding: 20px;
}

header h1 {
    margin: 20px;
    font-size: 1.2vw;
}

.menu {
    background-color: white;
    color: #ccc;
    border-radius: 5px;
}

.boxtrai, .boxphai {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    float: left;
}

.boxtrai {
    width: 74%;
}

.boxphai {
    width: 24%;
    margin-bottom: auto;
}

.boxtitle {
    color: #333;
    padding: 10px;
    background-color: #EEE;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #ccc;
}

.boxcontent, .boxcontent2 {
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 200px;
    padding: 20px;
}

.boxcontent2 {
    background-color: #EEE;
}

.boxfooter {
    padding: 10px;
    background-color: #CCC;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
}

.banner {
    min-height: 300px;
    width: 100%;
    text-align: center;
}

.banner img {
    height: 300px;
    max-width: 100%;
}

.boxsp {
    float: left;
    width: 32%;
    min-height: 320px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.boxsp .img {
    margin-left: 15px;
    margin-top: 10px;
    min-height: 230px;
    text-align: center;
}

.img img {
    height: 220px;
    text-align: center;
    margin-bottom: 10px;
    width: auto;
}

.img p {
    font-size: 16px;
    color: #000;
    font-weight: bold;
}

.img a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-top: 5px;
}

.menu ul {
    list-style-type: none;
    display: flex;
    background-color: black;
    width: 1200px;
    height: 70px;
    border: 1px solid #777;
    border-radius: 5px;
}

.menu ul li {
    list-style-type: none;
    display: inline;
    /* padding: 0px 15px; */
    margin: 0 10px;
    margin-top: 25px;
    font-size: 15px;
}

.menu ul li a {
    color: #CCC;
    text-decoration: none;
    transition: 0.5s;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.menu ul li a:hover {
    color: black;
    /* font-size: 0.8vw; */
    background-color: #ddd;
}

.formtaikhoan {
    line-height: 150%;
}

.formtaikhoan input[type="text"],
.formtaikhoan input[type="email"],
.formtaikhoan input[type="password"],
.frmcontent input[type="text"] {
    width: 100%;
    border: 1px solid #CCC;
    padding: 5px 10px;
    border-radius: 5px;
}

.formtaikhoan input[type="checkbox"] {
    border-radius: 5px;
}

.formtaikhoan input[type="submit"],
.frmcontent input[type="submit"],
.frmcontent input[type="reset"],
.formtaikhoan input[type="reset"],
.frmcontent input[type="button"] {
    border-radius: 5px;
    padding: 5px 10px;
    background-color: white;
    border: 1px solid #CCC;
}

.formtaikhoan input[type="submit"]:hover,
.frmcontent input[type="submit"]:hover,
.frmcontent input[type="reset"]:hover,
.frmcontent input[type="button"]:hover {
    background-color: #CCC;
}

.formtaikhoan li a {
    color: teal;
    text-decoration: none;
}

.formtaikhoan li a:hover {
    color: #060;
    text-decoration: underline;
}

.menudoc ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menudoc ul li {
    padding: 10px 20px;
    background-color: #FFF;
    border-bottom: 1px solid #CCC;
}

.menudoc ul li a {
    color: #666;
    text-decoration: none;
}

.menudoc ul li:hover {
    background-color: #CCC;
}

.searchbox input[type="text"] {
    width: 100%;
    border: 1px solid #CCC;
    padding: 5px;
    border-radius: 5px;
}

.top10 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.top10 img {
    max-width: 50px;
    height: auto;
    margin-right: 10px;
}

.top10 a {
    color: #000;
    text-decoration: none;
    flex-grow: 1;
}

.top10 a:hover {
    text-decoration: underline;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.headeradmin {
    background-color: #EEE;
    border: 1px solid #CCC;
    color: #666;
    border-radius: 5px;
    padding: 10px;
    height: 120px;
}

.headeradmin h1 {
    font-size: 30px;
    margin-left: 10px;
    margin-top: 32px;
}

.frmtitle {
    background-color: #EEE;
    border: 1px solid #CCC;
    color: #666;
    border-radius: 5px;
    /* padding: 0px 20px; */
    height: 50px;
    width: 1200px;
    padding: 10px;
    margin-bottom: 10px;
}

.frmtitle h1 {
    font-size: 20px;
    color: #777;
    margin-left: 10px;
}

.frmcontent {
    /* padding: 20px 0px; */
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.frmdsloai table {
    width: 100%;
    border-collapse: collapse;
}

.frmdsloai table th {
    padding: 20px;
    background-color: #CCC;
}

.frmdsloai table td {
    padding: 10px 20px;
    border: 1px solid #CCC;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

form input[type="submit"],
form input[type="reset"],
form input[type="button"],
form a {
    /* margin-right: 10px;  */
    
    padding: 8px 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    background-color: white;
    color: black;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover,
form input[type="reset"]:hover,
form input[type="button"]:hover,
form a:hover {
    background-color: #0056b3;
    color: white;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

form input[type="text"] {
    margin-top: 5px;
    width: 1100px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
}


div input[type="text"] {
    width: 255px; 
}

div select {
    margin-top: 5px;
    margin-right: 820px;
    height: 28px;
}

 div.row option iddm input[type="submit"] {
    margin-right: 500px;
    margin-top: 5px;
} 

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
    left: 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.words {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 2px;
}

.spct {
    margin-left: auto;
    margin-right: auto;
}

.binhluan table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.binhluan table tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.binhluan table th,
.binhluan table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.binhluan table td {
    font-size: 14px;
    color: #555;
}

.binhluanform {
    margin-top: 20px;
}

.binhluanform form {
    display: flex;
    flex-direction: column;
}

.binhluanform input[type="text"] {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.binhluanform input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.binhluanform input[type="submit"]:hover {
    background-color: #45a049;
}